@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----- Global Styles ----- */

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

#dark .container-fluid {
  height: 100vh;
  background-color: rgb(25, 25, 25);
}

#dark h1 {
  font-size: 1.5rem;
  font-weight: 600;
  margin: 0;
  color: white;
}

/* ----- Sidebar Styles ----- */

#dark .sidebar {
  background-color: rgb(50, 50, 50);
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 1px 0px 3px 1px black;
  transition: ease all .5s;
  z-index: 1;
}

#dark .nav-item {
  border-bottom: 1px solid #adb5bd;
}

#dark .nav-link {
  color: white;
  cursor: pointer;
  font-weight: 300;
}

#dark .nav-link:hover {
  color: white;
}

#dark .nav-item {
  transition: all .25s;
}

#dark .nav-item:hover {
  background-color: rgb(25, 25, 25);
}

#dark .fa-sun {
    color: white;
}

#dark .fa-moon {
    color: white;
}

/* ----- Login/Signup Page Styles ----- */

#dark .form {
  height: 700px;
  background-color: rgb(50, 50, 50);
  color: white;
}

#dark .login-image {
  position: relative;
  display: inline;
  height: 700px;
}

#dark .login-image::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
}

#dark .login-image img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -100;
}

#dark .form-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bababa;
}

#dark .nav-link.active {
  background-color: rgb(35, 35, 35) !important;
  border-bottom: none !important;
}

#dark .form-separator::before, #dark .form-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #bababa;
}

#dark .form-separator::before {
  margin-right: .25em;
}

#dark .form-separator::after {
  margin-left: .25em;
}

#dark a.form-tab.active {
  background-color: #ced4da !important;
}

#dark .google-button-container {
  position: relative;
}

#dark .fa-google {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}
