@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----- Global Styles ----- */

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

#light .container-fluid {
  height: 100vh;
  background-color: white;
}

#light h1 {
  font-size: 1.75rem;
  font-weight: 600;
  margin: 0;
  color: #333;
}

/* ----- Sidebar Styles ----- */

#light .sidebar {
  background-color: #e9ecef;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 1px 0px 3px 1px gray;
  transition: ease all .5s
}

#light .nav-item {
  border-bottom: 1px solid #adb5bd;
}

#light .nav-link {
  color: #333;
  cursor: pointer;
  font-weight: 300;
}

#light .nav-link:hover {
  color: #333;
}

#light .nav-item {
  transition: all .25s;
}

#light .nav-item:hover {
  background-color: #ced4da;
}

@media (min-width: 768px) {
  .sidebar {
    width: 300px;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 100px;
    align-items: center;
  }
}
