@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ----- Global Styles ----- */

body {
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

#light .container-fluid {
  height: 100vh;
  background-color: white;
}

#light h1 {
  font-size: 1.5rem;
  font-weight: 700;
  margin: 0;
  color: #333;
}

/* ----- Sidebar Styles ----- */

#light .sidebar {
  background-color: #e9ecef;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  box-shadow: 0px 0px 2px 1px gray;
  transition: ease all .5s;
  z-index: 1;
}

#light .nav-item {
  border-bottom: 1px solid #adb5bd;
}

#light .nav-link {
  color: #333;
  cursor: pointer;
  font-weight: 300;
}

#light .nav-link:hover {
  color: #333;
}

#light .nav-item {
  transition: all .5s;
}

#light .nav-item:hover {
  background-color: #ced4da;
}

@media (min-width: 768px) {
  .sidebar {
    width: 300px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .sidebar {
    width: 200px;
  }
}

@media (max-width: 575px) {
  .sidebar {
    width: 100px;
    align-items: center;
  }
}

/* ----- Login/Signup Page Styles ----- */

.main {
  height: 100vh;
  width: 100vw;
}

 /* DELETE */
.form-half {
  background-color: #e9ecef;
  width: 475px;
  height: 700px;
}

.login-image {
  position:relative;
}


.login-image::after {
  content: '';
  position: absolute;
  left: 0; top: 0;
  width: 100%; height: 100%;
  background: linear-gradient(rgba(255, 255, 255, 0.2),rgba(255, 255, 255, 0.2));
}

img {
  object-fit: cover;
  height: 100%;
  width: 100%;
  z-index: -1;
}
/* DELETE */

.form {
  width: 950px;
  height: 700px;
  background-color: #e9ecef;
  box-shadow: 0px 0px 5px gray;
}

.form-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #bababa;
}

.nav-link.active {
  background-color: #ced4da !important;
  border-bottom: 1px solid #ced4da !important;
}

.form-separator::before, .form-separator::after {
  content: '';
  flex: 1;
  border-bottom: 1px solid #bababa;
}

.form-separator::before {
  margin-right: .25em;
}

.form-separator::after {
  margin-left: .25em;
}

a.form-tab.active {
  background-color: #ced4da !important;
}

.google-button-container {
  position: relative;
}

.fa-google {
  position: absolute;
  left: 15px;
  top: 50%;
  transform: translateY(-50%);
}

@media (min-width: 768px) {
  .main {
    margin-left: 305px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .main {
    margin-left: 205px;
  }
}

@media (max-width: 575px) {
  .main {
    margin-left: 105px;
  }
}
