#light .container-fluid {
    min-height: 100vh;
}

#light .spinner-container {
    height: 100vh;
}

/* ----- Sidebar Styles ----- */
#light .sidebar {
    background-color: #e9ecef;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    box-shadow: 0px 0px 2px 1px gray;
    transition: ease all .5s;
    z-index: 1;
}

#light .sidebar h1 {
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0;
    color: #333;
}

#light .sidebar .nav-item {
    border-bottom: 1px solid #adb5bd;
}

#light .sidebar .nav-link {
    color: #333;
    cursor: pointer;
    font-weight: 300;
}

#light .sidebar .nav-link:hover {
    color: #333;
}
  
#light .sidebar .nav-item {
    transition: all .5s;
}
  
#light .sidebar .nav-item:hover {
    background-color: #ced4da;
}

#light .sidebar .nav-link.active {
    background-color: #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
}

/* ----- Login/Signup Page Styles ----- */
#light .login-container {
    height: 100vh;
}

#light .login-image {
    position: relative;
    display: inline;
    height: 760px;
}
  
#light .login-image::after {
    content: '';
    position: absolute;
    left: 0; top: 0;
    width: 100%; height: 100%;
    background: linear-gradient(rgba(255, 255, 255, 0.1),rgba(255, 255, 255, 0.1));
}
  
#light .login-image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: -100;
}

#light .form {
    height: 760px;
    background-color: #e9ecef;
}

#light .form .nav-link.active {
    background-color: #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
}

#light .form .nav-link {
    color: #333;
    cursor: pointer;
    font-weight: 300;
}

#light .form .nav-tabs {
    border-bottom: 1px solid #bababa;
}

#light .form .nav-link:hover {
    border-bottom: 1px solid #bababa;
}

#light .form-separator::before, .form-separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #bababa;
}
  
#light .form-separator::before {
    margin-right: .25em;
}
  
#light .form-separator::after {
    margin-left: .25em;
}

#light .google-button-container {
    position: relative;
}

#light .fa-google {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
}

#light .form .input-group-text, #light .reset-password {
    cursor: pointer;
}

/* ----- Profile Page Styles ----- */
#light .canvas-container {
    height: 100%;
    width: 100%;
}

#light .profile-content {
    background-color: #f7f7f7;
    border: 1px solid #e9ecef;
    border-radius: 8px;
    position: relative;
}

#light .proficiency-card {
    box-shadow: 1px 2px 5px gray;
    transition: all .25s;
}

#light .proficiency-card:hover {
    transform: translateY(-3px);
    box-shadow: 1px 5px 8px rgb(175, 175, 175);
}

#light .fa-pen-to-square, #light .fa-trash {
    cursor: pointer;
}

#light .round-button {
    width: 60px;
    min-height: 60px;
    border-radius: 50%;
    height: auto;
    background-color: #dadada;
    position: absolute;
    right: 20px;
    cursor: pointer;
}

#light .edit-picture-modal {
    position: absolute;
}
  
#light .crop-container {
    height: 50vh;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 80px;
}

#light .profile-picture {
    cursor: pointer;
}

.edit-profile-modal #light .nav-link.active {
    background-color: #ced4da !important;
    border-bottom: 1px solid #ced4da !important;
}

.edit-profile-modal #light .nav-link {
    color: #333;
    cursor: pointer;
    font-weight: 300;
}

.edit-profile-modal #light .nav-tabs {
    border-bottom: 1px solid #bababa;
}

.edit-profile-modal #light .nav-link:hover {
    border-bottom: 1px solid #bababa;
}

/* ----- Contacts Page Styles ----- */
#light .contacts-container .card {
    background-color: #e9ecef;
    box-shadow: 1px 2px 5px gray;
    transition: all .25s;
    overflow: hidden;
}

#light .contacts-container .card:hover {
    transform: translateY(-3px);
    box-shadow: 1px 5px 8px rgb(175, 175, 175);
}

#light .contacts-container>.row {
    min-height: 100vh;
}

#light .contact-color {
    height: 20px;
    width: 100%;
}

#light .fa-pen, #light .fa-linkedin {
    cursor: pointer;
}

/* ----- Job Board Page Styles ----- */
#light .test {
    /* min-height: 20rem; */
    width: 25rem;
    background-color: #e9ecef85;
    border-radius: 10px;
    overflow: hidden;
}

#light .horizontal-scrollable {
    overflow-x: scroll;
    white-space: nowrap;
    float: none;
    min-width: 500px;
}

#light .add-col {
    width: 60px;
    min-height: 60px;
    border-radius: 50%;
    height: auto;
    background-color: #e9ecef85;
    right: 20px;
    cursor: pointer;
}

#light .col-name {
    background-color: #cdcdcd;
    cursor: pointer;
}

#light .add-job {
    cursor: pointer;
}

#light .drop-zone {
    min-height: 2rem;
}

#light .job-card {
    overflow: hidden;
}

#light .job-card-color {
    height: 20px;
}

#light .company-logo {
    position: absolute;
    top: 25%;
    right: 3%;
}

.light.offcanvas {
    min-width: 35%;
}

.light.contacts-table {
    font-size: .75rem;
}

.light.contacts-table .fa-trash {
    cursor: pointer;
}

.light.offcanvas .skill-badge {
    height: 30px;
    padding: 10px;
    font-size: .75rem;
    border-radius: 20px;
    color: white;
    background-color: green;
}

.light.offcanvas .add-skill {
    height: 30px;
    padding: 10px;
    font-size: .75rem;
    border-radius: 20px;
    border: 1px solid green;
    color: green;
    cursor: pointer;
    transition: all 0.25s;
}

.light.offcanvas .add-skill:hover {
    background-color: rgb(0, 128, 0);
    color: white;
}

.light.offcanvas .fa-xmark {
    cursor: pointer;
}
